<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<!-- Basic page needs ================================================== -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	{% if settings.favicon_enable %}
	<link rel="shortcut icon" href="{{ settings.favicon_enable }}" type="image/png" />
	{% endif %}
	
	<!-- Title and description ================================================== -->
	<title>
	{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
	
	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}
	
	<!-- Helpers ================================================== -->
	{% include 'social-meta-tags' %}
	<link rel="canonical" href="{{ canonical_url }}">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="theme-color" content="{{ settings.color_primary }}">
	
	<!-- CSS ================================================== -->
	{{ 'timber.scss.css' | asset_url | stylesheet_tag }}
	{{ 'styles.scss.css' | asset_url | stylesheet_tag }}
	{{ 'flexslider.css' | asset_url | stylesheet_tag }}
	<script src="https://use.fontawesome.com/5ed2ab4a08.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">

	
	<!-- Header hook for plugins ================================================== -->
	{{ content_for_header }}
	{% include 'oldIE-js' %}
	
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
	{{ 'modernizr.min.js' | asset_url | script_tag }}
	{{ 'ajax-cart.js' | asset_url | script_tag }} 
	{{ 'custom.js' | asset_url | script_tag }} 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/jquery.flexslider-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
	
	{% comment %}
		If you store has customer accounts disabled, you can remove the following JS file
	{% endcomment %}
	{% if template contains 'customers' %}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{% endif %}
	
	{% comment %}
		Add the page template as a class for easy page or template specific styling.
	{% endcomment %}
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

	<div id="NavDrawer" class="drawer drawer--left">
		<div class="drawer__header">
			<div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
			<div class="drawer__close js-drawer-close">
				<button type="button" class="icon-fallback-text">
					<span class="icon icon-x" aria-hidden="true"></span>
					<span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
				</button>
			</div>
		</div>
		<!-- begin mobile-nav -->
	 
		<!-- //mobile-nav -->
	</div>

	<header class="gyb-head" role="banner">
		 <div class="brand-nav">
				<i class="fa fa-bars"></i>
				<figure class="logo"><a href="{{ shop.url }}"><img src="{{'logo-gyb.png' | asset_url}}" alt=""></a></figure>
				<div class="nav-holder">
					 <ul id="AccessibleNav">
					{% for link in linklists.main-menu.links %}
						{% comment %}
							Create a dropdown menu by naming a linklist the same as a link in the parent nav

							More info on dropdowns:
								- http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
						{% endcomment %}
						{% assign child_list_handle = link.title | handleize %}
						{% if linklists[child_list_handle].links != blank %}
							<li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
								<a href="{{ link.url }}" class="site-nav__link">
									{{ link.title }}
									<span class="icon icon-arrow-down" aria-hidden="true"></span>
								</a>
								<ul class="site-nav__dropdown">
									{% for childlink in linklists[child_list_handle].links %}
										<li{% if childlink.active %} class="site-nav--active"{% endif %}>
											<a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li {% if link.active %}class="site-nav--active"{% endif %}>
								<a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				</div>
		 </div>
		 <div class="socialhub">
					<a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="true">
						<span class="icon icon-cart" aria-hidden="true"></span>
					</a>
					{% if settings.social_facebook_link != blank %}
						<a href="{{ settings.social_facebook_link }}"><i class="fa fa-facebook"></i></a>
					{% endif %}
					{% if settings.social_instagram_link != blank %}
						<a href="{{ settings.social_instagram_link }}"><i class="fa fa-instagram"></i></a>
					{% endif %}
			</div>
	</header>

	{% if settings.ajax_cart_method == "drawer" %}
		<div id="CartDrawer" class="drawer drawer--right">
			<div class="drawer__header">
				<div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
				<div class="drawer__close js-drawer-close">
					<button type="button" class="icon-fallback-text">
						<span class="icon icon-x" aria-hidden="true"></span>
						<span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
					</button>
				</div>
			</div>
			<div id="CartContainer"> 
				 {% if settings.ajax_cart_method == "drawer" %}
						<div id="CartDrawer" class="drawer drawer--right">
							<div class="drawer__header">
								<div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
								<div class="drawer__close js-drawer-close">
									<button type="button" class="icon-fallback-text">
										<span class="icon icon-x" aria-hidden="true"></span>
										<span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
									</button>
								</div>
							</div>
							<div id="CartContainer"></div>
						</div>
					{% endif %}
			</div>
		</div>
	{% endif %}

	<div id="PageContainer" class="is-moved-by-drawer">
		<main class="wrapper main-content" role="main">
			{{ content_for_layout }}
		</main>
		<!-- begin site-footer -->
		<footer>
				<section class="left-col">
					<h1>help</h1>
					{% for link in linklists.main-menu.links %}
					<nav class="nav-menu">
						<ul>
							<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						</ul>
					</nav>
					{% endfor %}
				</section>
				<section  class="right-col">
					<div class="socialhub">
						<div class="item logo"><a href="#"><img src="{{ 'logo-gyb.png' | asset_url }}"></a></div>
						<div class="item"><a href="#"><i class="fa fa-share"></i></a></div>
						{{% if settings.footer_social_enable %}}
						<div class="item"><a href="{{ settings.social_facebook_link }}"><i class="fa fa-facebook"></i></a></div>
						<div class="item"><a href="{{ settings.social_instagram_link }}"><i class="fa fa-instagram"></i></a></div>
						{{% endif %}}
					</div>
					<div class="certificados">
						<img src="{{ 'norton.png' | asset_url }}" alt="nosrton certificate">
						<img src="{{'100.png' | asset_url}}" alt="100% secure your purchase">
						<img src="{{'shopping-secure.png' | asset_url}}" alt="shopping secure">
						<img src="{{'shipping-secure.png' | asset_url}}" alt="100%shipping secure">
					</div>
					<div class="copy">
						<a href="http://24siete.hacemosloquenosgusta.comr">Theme developed by 24siete</a> by <a href="http://www.hacemoslquenosgusta.com" title="hacemos lo que nos gusta">@loquenosgusta</a><br>
							{% comment %} <small>{{ powered_by_link }}</small> {% endcomment %}
					</div>
				</section>
			</footer>
		<!-- //site-footer -->
	</div>

	{{ 'timber.js' | asset_url | script_tag }}
	{{ 'fastclick.min.js' | asset_url | script_tag }}
		
	{% comment %}
		Template-specific js
	{% endcomment %}
		<script>
			{% if resetPassword %}
				$(function() {
					timber.resetPasswordSuccess();
				});
			{% endif %}
		</script>
	
	{% comment %}
		Ajaxify your cart with this plugin.
		Documentation:
			- http://shopify.com/timber#ajax-cart
	{% endcomment %}
	{% if settings.ajax_cart_method == "drawer" %}
		{{ 'handlebars.min.js' | asset_url | script_tag }}
		{% include 'ajax-cart-template' %}
		{{ 'ajax-cart.js' | asset_url | script_tag }}
		<script>
			jQuery(function($) {
				ajaxCart.init({
					formSelector: '#AddToCartForm',
					cartContainer: '#CartContainer',
					addToCartSelector: '#AddToCart',
					cartCountSelector: '#CartCount',
					cartCostSelector: '#CartCost',
					moneyFormat: {{ shop.money_format | json }}
				});
			});
	
			jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
				// Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
				timber.RightDrawer.open();
			});
		</script> 
	{% endif %}
	<script>
		$('.fa-bars').click(function () {
			$('.nav-holder').slideToggle();
			$(timber.init);
		});
	</script>
</body>
</html>
