
<div class="page-feat-cover" style="background-image:url({{ section.settings.top_cover | img_url: 'grande' }});">
  {% comment %} aqui va el cover {% endcomment %}
  <h1 class="page-title" style="color: {{ section.settings.page_title }};">{{section.settings.page_title_txt}}</h1>
</div> 

{% schema %}
  {
    "name": "top-cover",
    "settings": [
      {
        "id": "top_cover",
        "type": "image_picker",
        "label": "top cover"
      },
      {
        "id": "page_title",
        "label": "title color",
        "type": "color"
      },
      {
        "id": "page_title_txt",
        "label": "page title",
        "type": "text"
      }
    ]
  }
{% endschema %}


{% stylesheet %}
.page-title{
  margin-top: 22vh;
  line-height: 1em;
  max-width: 800px;
  font-size: 5em;
 
}

.page-feat-cover{
	width: 100vw;
	height: 50vh;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-attachment: fixed;

}
{% endstylesheet %}