<section>
    <article class="banner">
			<figure class="copy" style="background-image: url('{{section.settings.feat-cover | img_url: 'grande'}}'); order: {{section.settings.side}}">
			        <h1 style="color: {{section.settings.t-color}} ; font-family:'{{section.settings.quote-font}}', Sans;">{{section.settings.quote}}</h1>
			    </figure>
			    <div class="p-item"  style="background-color:{{section.settings.bg-color}}; background-image:url({{section.settings.bg-img | img_url: 'grande' }}); ">
			        <div class="f-desc" style="color: {{section.settings.p-color}};">
			            {{section.settings.p-text}}
			        </div>
			    </div>
		</article>
</section>

{% schema %}
{
    "name": "feat-text-block",
		"max_blocks": 1,
    "settings": [
				{
					"type": "select",
					"id": "side",
					"label": "peoduct -side",
					"options": [
						{
							"value": "1",
						"label": "left"
						},
						{
							"value": "2",
						"label": "right"
						}

					] 
				},
				{
					"type": "text",
					"id": "quote",
					"label": "quote"
				},
				{
					"type": "select",
					"id": "quote-font",
					"label": "quote-font",
					"options":[
						{
							"value": "Raleway",
							"label": "Raleway"
						},
						{
							"value": "aliens",
							"label": "Alien"
						},
						{
							"value": "heavitas",
							"label": "Heavitas"

						}

					]
				},
				{
					"type": "color",
					"id": "t-color",
					"label": "quote color"
				},
        {
					"type": "image_picker",
					"id": "feat-cover",
					"label": "quote background"
        },
				{
					"type": "color",
					"id": "bg-color", 
					"label": " text background-color"
				},
				{
					"type": "image_picker",
					"id": "bg-img",
					"label": " text background-color"
				},
				{
					"type": "richtext",
					"id": "p-text",
					"label": "copy"
				},
				{
					"type": "color",
					"id": "p-color",
					"label": "text-color"
				}

    ],
   "presets": [
    {
      "name": "feat content",
      "category": "product",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
       
      ]
    }
   ],
   "blocks": [
      {
        "type": "text",
        "name": "feat-content",
        "settings": [
           
        ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
.banner{
		width: 100%;
		min-height: 440px;
		max-height: 500px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-around;
    
}
.banner .p-item{
	order:1;
	padding: 40px;
	{% comment %} max-width: 500px; {% endcomment %}
	flex-grow: 1;
	padding: 20px 0;
	padding: 40px !important;
	background-repeat: no-repeat;
	background-size: contain;

	
}
.banner .copy{
	position: relative;
	background-size: cover;
	flex-grow: 190;
	order: 1;
	padding: 20px 0;
} 

.banner .p-item .f-desc{
	max-width: 500px;
}

.banner  h1 {
	max-width: 60%;
	position: absolute;
	/*font-family: $sec-title;*/
	top: 35%;
	left: 25%;
}

{% endstylesheet %}