<section class="holder">
  {% for block in section.blocks %}
  <div class="slide-holder" class="{{block.slide-size}}">
      <h1>{{ settings.title }}</h1>
      <div class="flexslider">
        <ul class="slides">
        {% for collection in collections %}
        {% for product in collection.products limit: 10 %}
          <li>
            <figure>
              <a href="{{product.url}}"><img src="{{product.featured_image | img_url: 'grande'}}" alt=""></a>
            </figure>
            <h3><a href="{{product.url}}">{{product.title}}</a></h3>
            <p>$ {{product.price}}</p>
          </li>
        {% endfor %}
        {% endfor %}
        </ul>
      </div>
  </div>
  {% endfor %}
</section>



{% schema %}
  {
    "name": "feat slider",
    "max_blocks": 2,
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title to add on top of the widget"
        }
    ],
    "blocks": [
      {
            "type": "collection",
            "name": "feat slide",
            "settings": [
              {
                "type": "collection",
                "id": "collection",
                "label": "feat slide collection"
                
              },
              {
                "type": "select",
                "id": "slide-size",
                "label": "size of the widget",
                "options": [
                  {
                    "value": "half",
                    "label": "half-row"
                  },
                  {
                    "value": "full",
                    "label": "full-row"
                  },
                  {
                    "value": "hidden",
                    "label": "hidden"
                  }
                ]
              }
            ]
          }
    ]

  }
{% endschema %}

{% stylesheet 'scss' %}
 .holder{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90vw;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 2000px;
  }
  .slide-holder, .insta-holder{
    width: 46%;
    @media screen and(min-width: 1800px){
      max-width: 840px;
    }
  }
  .slides li{
    text-align: center;
    figure{
      max-height: 180px;
      img{
        width: initial !important;
        max-height: 170px;
        margin: 0 auto;
        display: block;
      }
    }
    h3{
      font-family: 'Raleway', Sans;
      font-size: 1em;
      text-align: center;
    }
    p{
      font-size: 0.8em;
      color: grey;
      text-align: center;
    }
  }
{% endstylesheet %}

{% javascript %}
  $('.flexslider').flexslider({
   animation: "slide",
   controlNav: false,
   animationLoop: false,
   itemWidth: 200,
   itemMargin: 80
  });
{% endjavascript %}
