<section>
  {% assign product = all_products[section.settings.producto] %}   
  <article class="feat-product">
  <div class="p-item" style="background: {{section.settings.p-color}}; order: {{section.settings.side}}">
      <figure><a href="{{product.url}}"><img src="{{product.featured_image | img_url: 'grande'}}" alt=""></a></figure>
      <div class="price">
           <h2 style="color: {{section.settings.product-color}}; font-family:{{section.settings.quote-font}};">
              {{product.title}}
              <span style="color:{{section.settings.price-color}};">${{product.price}}</span>
           </h2> 
          <div class="desc" style="color: {{section.settings.desc-color}} !important">{{section.settings.short-desc}}</div>
      </div>
        <button type="submit" name="add" id="AddToCart" class="btn" style="background:{{section.settings.boton}}; font-family:{{section.settings.quote-font}};">
          <a href="{{product.url}}" style="color:{{section.settings.boton-txt}} ;">Buy Now</a>
        </button>
  </div>
  <figure class="copy"  style="background-image: url('{{section.settings.copy-cover | img_url: 'grande'}}')">
      <h1 style="color: {{section.settings.copy-color}}; font-family: '{{section.settings.quote-font}}', Sans, verdana;">{{section.settings.copy}}</h1>
  </figure>
  </article>
</section>

{% schema %}
 {
   "name": "feat product",
   "max_blocks": 1,
   "settings": [
      {
        "type": "select",
        "id": "side",
        "label": "peoduct -side",
        "options": [
          {
            "value": "1",
          "label": "left"
          },
          {
            "value": "2",
          "label": "right"
          }

        ] 
      },
      {
        "type": "product",
        "id": "producto",
        "label": "producto destacado"
      },
      {
        "type": "color",
        "id": "product-color",
        "label": "product name color"
      },
       {
        "type": "color",
        "id": "p-color",
        "label": "product background color"
      },
      {
        "type": "text",
        "id": "short-desc",
        "label": "short description",
        "default": "feat"
      },
      {
        "type": "color",
        "id": "price-color",
        "label": "price color"
      },
      {
        "type": "color",
        "id": "boton-txt",
        "label": "button text color"
      },
      {
        "type": "color",
        "id": "boton",
        "label": "button color"
      },
      {
        "type": "color",
        "id": "desc-color",
        "label": "description color"
      },
      {
        "type": "text",
        "id": "copy",
        "label": "cover quote"
      },
      {
        "type": "select",
        "id": "quote-font",
        "label": "quote-font",
        "options":[
          {
            "value": "Raleway",
            "label": "Raleway"
          },
          {
            "value": "aliens",
            "label": "Alien"
          },
          {
            "value": "heavitas",
            "label": "Heavitas"

          }

        ]
      },
       {
        "type": "color",
        "id": "copy-color",
        "label": "copy of the copy"
      },
      {
        "type": "image_picker",
        "id": "copy-cover",
        "label": "cover quote"
      }
      
   ],
   "presets": [
    {
      "name": "feat product",
      "category": "product",
      "blocks": [
        {
          "type": "text"
        }
       
      ]
    }
   ],
   "blocks": [
      {
        "type": "text",
        "name": "description",
        "settings": [
           
        ]
      }
   ]
 }
{% endschema %}

{% stylesheet %}
	.feat-product {
		width: 100%;
		min-height: 440px;
		max-height: 500px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-around;
 

	}

	.feat-roll .p-item figure{
		width: 80%;
		height: 250px;
		display: block;
		position: relative;
		margin: 0 auto;
  
	}
		
	.feat-roll .p-item img{display: block; margin: 0 auto; height: 100%;}

	.feat-roll .p-item figure h1{
		font-family: 'Raleway', Sans;
		text-align: center;
	}

	.feat-roll .p-item{
		padding: 40px;
		flex-grow: 1;
    padding: 20px 0;

	}

	.price{
		width: 80%;
		margin: 10px auto;
		text-align: center;

	}

	.price h2{
		display: inline-block;
		font-family: 'Raleway', Sans;
    max-width: 500px;
		span{
      display: inline; color: $sunshine;
      font-family: 'Raleway', Sans;
      font-weight: bold !important;
    }
	}
	.desc{
		text-align: center;
		margin: 0 auto;
	} 
	.desc p{
		font-size: 0.8em;
		font-family: $standard;
	}

	.p-item button{
		font-family: 'Raleway', Sans;
		text-transform: uppercase;
		padding: 10px 12px;
		color: white;
		border: 0;
		border-color: none;
		display: block;
		margin: 0 auto;
	}

	.p-item button::hover{
		cursor: pointer;
		transition: 1s ease all;
	}

	.p-item a{
		text-decoration: none;
		font-family: 'Raleway', Sans; 
	}

	.feat-product .copy {
		position: relative;
		background-size: cover;
		flex-grow: 190;
		order: 1;
    padding: 20px 0;

	}

	.feat-product .copy h1 {
		font-size: 1.8em;
		max-width: 400px;
		position: absolute;
		text-align: left;
		font-family: 'Raleway', Sans;
		top: 35%;
		left: 25%;
   
	}

	.feat-roll .copy img {
		width: 100%;
	}



{% endstylesheet %}
 
