<section class="holder {{section.settings.size}}">
{% for block in section.blocks %}
{% if block.settings.collection %}
   <div class="slide-holder">
      <h1>Other stuff</h1>
      <div class="flexslider">
        <ul class="slides">
        {% for collection in collections %}
        {% for product in collection.products limit: 10 %}
          <li>
            <figure>
              <a href="{{product.url}}"><img src="{{product.featured_image | img_url: 'grande'}}" alt=""></a>
            </figure>
            <h3><a href="{{product.url}}">{{product.title}}</a></h3>
            <p>$ {{product.price}}</p>
          </li>
        {% endfor %}
        {% endfor %}
        </ul>
      </div>
  </div>
{% endif %}
{% if block.settings.copy %}
  <div class="insta-holder">
    <h1> <i class="fa fa-instagram"></i>{{block.settings.copy}}</h1>
    <div id="instafeed">
  
    </div>
  </div>
{% endif %}
{% endfor %}

</section>

{% schema %}
  {
      "name": "instafeed",
      "max_blocks": 2,
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title to add"
          },
          {
            "type": "select",
            "id": "size",
            "label": "number of columns",
            "options": [
              {
                "value": "half",
                "label": "half-row"
              },
              {
                "value": "full",
                "label": "full-row"
              },
              {
                "value": "hidden",
                "label": "hidden"
              }
            ]
          }
      ],
    "blocks": [
        {
          "type": "collection",
          "name": "feat slide",
          "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": "feat slide collection"
              
            }
          ]
        },
        {
          "type": "text",
          "name": "instagram-content",
          "settings": [
            {
              "type": "text",
              "id": "copy",
              "label": "head text"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "instafeed",
        "category": "social",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
    
  }
{% endschema %}

{% stylesheet 'scss' %}
  .holder{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90vw;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 2000px;
  }
  .slide-holder, .insta-holder{
    width: 80%;
    @media screen and(min-width: 1800px){
      max-width: 840px;
    }
  }
  #instafeed{
    display: flex;

  }
  h1{
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
  }
  .l-fluidbox{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    &:hover{
      background: black;
      img{
        opacity: 0.6;
      }
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '\f0c1';
        font-family: 'fontAwesome';
        font-size: 2em;
        color: #ecba6a;
      }
    }
  } 
  .l-fluidbox img{
    height: 100%;
    width: 100%;
  }

  .slides li{
    text-align: center;
    figure{
      max-height: 180px;
      img{
        width: initial !important;
        max-height: 170px;
        margin: 0 auto;
        display: block;
      }
    }
    h3{
      font-family: 'Raleway', Sans;
      font-size: 1em;
      text-align: center;
    }
    p{
      font-size: 0.8em;
      color: grey;
      text-align: center;
    }
  }

{% endstylesheet %}

{% javascript %}
  
  var userFeed = new Instafeed({
    get: 'user',
    userId: '3943465139', 
    accessToken: '3943465139.1677ed0.754d7f8668d34eb8b158d450709aacc9',
    limit: 3,
    resolution: 'standard_resolution',
    template: '<a data-fancybox class="l-fluidbox" data-aos="zoom-in-up" data-aos-offset="150" href="{{image}}"><img src="{{image}}" /></a>',
    after: function() {
      var images = $("#instafeed a").fluidbox();
          AOS.init();
      },
  });
  console.log(userFeed);
  userFeed.run();

  $('.flexslider').flexslider({
   animation: "slide",
   controlNav: false,
   animationLoop: false,
   itemWidth: 200,
   itemMargin: 80
  });

{% endjavascript %} 
