<section class="video-block" style="{% if section.settings.bg-color == blank %}background-image:url({{section.settings.bg-img | url_img }});{%else%}background-color:{{section.settings.bg-color}};{% endif %}">
    {% for block in section.blocks %}
     {% if block.settings.video %}
    <div class="block {{block.size}}" style="order:{{section.settings.side}};">
        <a data-fancybox href="{% if block.settings.video == blank %}https://www.youtube.com/watch?v=_9VUPq3SxOc{% else %}{{ block.settings.video }}{% endif %}" style="background:url(http://img.youtube.com/vi/{{block.settings.video.id}}/0.jpg) no-repeat; background-size: cover;"><i class="fa fa-play-circle-o"></i></a>
    </div>
    {% endif %}
    {% if block.settings.text %}
    <div class="block {{block.size}}" style="color:{{section.settings.txt-color}}">
        {{block.settings.text}}
    </div>
    {% endif %}
    {% endfor %}
</section>

{% schema %}
    {
        "name": "video",
        "max_blocks": 2,
        "settings": [
            {
                "type": "select",
                "id": "side",
                "label": "peoduct -side",
                "options": [
                    {
                            "value": "1",
                    "label": "left"
                    },
                    {
                            "value": "2",
                    "label": "right"
                    }
                ] 
            },
            {
                "type": "select",
                "id": "size",
                "label": "number of columns",
                "options": [
                {
                    "value": "half",
                    "label": "half-row"
                },
                {
                    "value": "full",
                    "label": "full-row"
                },
                {
                    "value": "hidden",
                    "label": "hidden"
                }
                ]
            },
            {
                "type": "color",
                "id": "bg-color",
                "label": "background color"
            },
            {
                "type": "color",
                "id": "txt-color",
                "label": "text color"
            },
            {
                "type": "image_picker",
                "id": "bg-img",
                "label": "background image"
            }  
        ],
        "presets": [
            {   
                "name": "feat video",
                "category": "social",
                "blocks": [
                    {
                        "type": "text"
                    }
                ]
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "video",
                "settings": [
                     {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video URL",
                        "accept": ["youtube", "vimeo"]
                    }
                ]
            },
            {
                "type": "richtext",
                "name": "text",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "caption text"
                        
                    }
                ]
            }
        ]
    }
{% endschema %}

{% stylesheet %}
    .video-block{
        width: 100%;
        display: flex;
        min-height: 380px;
        padding: 20px 0;
        margin: 0 auto;
        background-size: cover;
        justify-content: space-around; 
    }
    .video-block  .block{ 
        order: 1;
        height: 100%;
        width: 100%;
        max-width: 500px;
        display: block;
        margin: auto 18px;
    }

    .block strong{
        font-size: 2em;
        margin-bottom: 10px;
    }
    .block  a{
        display: block;
        background: #eaeaea;
        position: relative;
        width: 100%;
        height: 340px;
    }

    .block i{
        include: motion;
        font-size: 5em;
        color: rgba(#ecba6a, 0.6);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    .block i::hover{
        include: motion;
        color: #ecba6a;
    }

{% endstylesheet %}