/// fuentes y colores standar d del site

//colores
 $verde: rgb(92, 140, 69);
  $bosque: #272727;
 $naranja : #fda40f;
 $gris: #464747;
 $sunshine: #ecba6a;

//fuentes
@font-face {
    font-family: 'heavitas';
    src: url('../fonts/Heavitas.eot');
    src: url('../fonts/Heavitas.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Heavitas.ttf') format('truetype'),
         url('../fonts/Heavitas.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aliens';
    src: url('../fonts/aliensandcows.eot');
    src: url('../fonts/aliensandcows.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aliensandcows.ttf') format('truetype'),
         url('../fonts/aliensandcows.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



//variables
$standard: 'Raleway', sans-serif;
$title: 'aliens', Sans, verdana;
$sec-title: 'heavitas', Sans, verdana;


h1, h2, h3, h4, h5, h6{
  font-family: $title;
  font-weight: normal;
}

p{
  font-family: $standard;
  font-weight: lighter;
  font-size: 16px;
}

a{
  font-family: $standard;
  font-size: 18px;
  color: $gris;
  &:hover{
    color: $sunshine;
    transition: all 0.8s ease;
  }
}
