::selection{
  background: $verde;
  color: lighten($gris, 60%);
}
::moz-election{
  background: $verde;
  color: lighten($gris, 60%);
}
::-webkit-scrollbar{
  background: $bosque;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: $sunshine;
  width: 10px;
  border-radius: 20px;
}

@mixin button ($fondo){
  font-family: $sec-title;
  text-transform: uppercase;
  padding: 10px 12px;
  color: white;
  border: 0;
  border-color: none;
  background: $fondo;
  &:hover{
    background: darken($gris, 10%);
    cursor: pointer;
    @include ease(all);
  }
}

@mixin p-cover($grow){
  position: relative;
  background-size: cover;
  flex-grow: $grow;
  h1 {
    max-width: 60%;
    position: absolute;
    font-family: $sec-title;
    top: 35%;
    left: 25%;
  }
  img {
    width: 100%;
  }
}

@mixin p-item($ancho){
  padding: 60px 40px 40px 40px;
  max-width: 500px;
  flex-grow: $ancho;
  figure{
    width: 80%;
    max-height: 250px;
    display: block;
    position: relative;
    margin: 0 auto;
    img{display: block; margin: 0 auto; height: 100%;}
    h1{
      font-family: $sunshine;
      text-align: center;
    }
  }
  .price{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    h2{
      display: inline;
      font-family: $sec-title;
      span{display: inline; color: $sunshine; font-family: $sec-title;}
    }
    .desc{
      text-align: center;
      margin: 0 auto;
      p{
        font-size: 0.8em;
        font-family: $standard;
      }
    }
  }
  button{
    @include button($gris);
    display: block;
    margin: 0 auto;
  }
}


.menu-show{
  display: block !important;
  opacity: 1;
  @include ease(all);
}

