@font-face {
  font-family: 'heavitas';
  src: url("../fonts/Heavitas.eot");
  src: url("../fonts/Heavitas.eot?#iefix") format("embedded-opentype"), url("../fonts/Heavitas.ttf") format("truetype"), url("../fonts/Heavitas.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aliens';
  src: url("../fonts/aliensandcows.eot");
  src: url("../fonts/aliensandcows.eot?#iefix") format("embedded-opentype"), url("../fonts/aliensandcows.ttf") format("truetype"), url("../fonts/aliensandcows.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "aliens", Sans, verdana;
  font-weight: normal; }

p {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 16px; }

a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #464747; }
  a:hover {
    color: #ecba6a;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

.up {
  top: 1vh !important;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

::-moz-selection {
  background: #5c8c45;
  color: #dfe0e0; }

::selection {
  background: #5c8c45;
  color: #dfe0e0; }

::moz-election {
  background: #5c8c45;
  color: #dfe0e0; }

::-webkit-scrollbar {
  background: #272727;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #ecba6a;
  width: 10px;
  border-radius: 20px; }

.menu-show {
  display: block !important;
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

::-moz-selection {
  background: #272727;
  color: #dfe0e0; }

::selection {
  background: #272727;
  color: #dfe0e0; }

::moz-election {
  background: #272727;
  color: #dfe0e0; }

::-webkit-scrollbar {
  background: #272727;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #ecba6a;
  width: 10px;
  border-radius: 20px; }

body {
  background: blue !important; }

/*// main styles//*/
.gyb-head {
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4vh;
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 40px;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .gyb-head .brand-nav {
    position: relative; }
    .gyb-head .brand-nav .fa-bars {
      margin: 12px 0;
      font-size: 1.5em; }
  .gyb-head .logo {
    margin: 1px; }
  .gyb-head .nav-holder {
    position: absolute;
    display: none;
    background: #272727;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    .gyb-head .nav-holder ul {
      width: 100%;
      margin: 0px;
      list-style: none; }
      .gyb-head .nav-holder ul li {
        border-bottom: 1px solid #adadad; }
        .gyb-head .nav-holder ul li a {
          color: white; }
        .gyb-head .nav-holder ul li:hover a {
          color: #ecba6a; }

.socialhub a {
  margin: 0 6px; }
  .socialhub a .fa {
    font-size: 1.2em; }

.NavDrawer, CartDrawer {
  display: none; }

.sticky {
  top: 0px !important;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.79);
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease; }

footer {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 30px;
  padding-bottom: 60px; }
  footer .left-col h1 {
    color: #797a7a;
    font-size: 2em;
    letter-spacing: 0px; }
  footer .left-col .nav-menu ul li a {
    color: #acadad; }
  footer .right-col .socialhub {
    text-align: right; }
    footer .right-col .socialhub .item {
      margin-bottom: 50px;
      height: 40px;
      display: inline-block;
      vertical-align: middle; }
      footer .right-col .socialhub .item a {
        margin: 8px 12px; }
        footer .right-col .socialhub .item a i {
          font-size: 25px;
          padding-top: 10px; }
        footer .right-col .socialhub .item a img {
          height: 100%; }
  footer .right-col .certificados {
    position: relative;
    bottom: 0px;
    text-align: right; }
    footer .right-col .certificados img {
      display: inline-block;
      margin: 0 12px; }

.home .cover {
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  -webkit-background-size: cover; }
  .home .cover article {
    max-width: 800px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25vh;
    color: white; }
    .home .cover article h1 {
      font-size: 5em;
      font-family: "aliens", Sans, verdana; }
    .home .cover article p {
      margin: 12px auto;
      font-size: 1em; }

.home .ribbon {
  padding: 12px 0;
  width: 100vw;
  color: white;
  text-align: center;
  background: #ecba6a;
  text-transform: uppercase; }
  .home .ribbon h2 {
    font-size: 3em; }
  .home .ribbon:hover {
    cursor: hand;
    background: #e9ad4f;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

.feat-roll .feat-product {
  width: 100%;
  max-height: 440px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .feat-roll .feat-product .p-item {
    padding: 60px 40px 40px 40px;
    max-width: 500px;
    -webkit-box-flex: 4;
    -webkit-flex-grow: 4;
    -ms-flex-positive: 4;
    flex-grow: 4; }
    .feat-roll .feat-product .p-item figure {
      width: 80%;
      max-height: 250px;
      display: block;
      position: relative;
      margin: 0 auto; }
      .feat-roll .feat-product .p-item figure img {
        display: block;
        margin: 0 auto;
        height: 100%; }
      .feat-roll .feat-product .p-item figure h1 {
        font-family: #ecba6a;
        text-align: center; }
    .feat-roll .feat-product .p-item .price {
      width: 80%;
      margin: 10px auto;
      text-align: center; }
      .feat-roll .feat-product .p-item .price h2 {
        display: inline;
        font-family: "heavitas", Sans, verdana; }
        .feat-roll .feat-product .p-item .price h2 span {
          display: inline;
          color: #ecba6a;
          font-family: "heavitas", Sans, verdana; }
      .feat-roll .feat-product .p-item .price .desc {
        text-align: center;
        margin: 0 auto; }
        .feat-roll .feat-product .p-item .price .desc p {
          font-size: 0.8em;
          font-family: "Raleway", sans-serif; }
    .feat-roll .feat-product .p-item button {
      font-family: "heavitas", Sans, verdana;
      text-transform: uppercase;
      padding: 10px 12px;
      color: white;
      border: 0;
      border-color: none;
      background: #464747;
      display: block;
      margin: 0 auto; }
      .feat-roll .feat-product .p-item button:hover {
        background: #2d2d2d;
        cursor: pointer;
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease; }
  .feat-roll .feat-product .copy {
    position: relative;
    background-size: cover;
    -webkit-box-flex: 4;
    -webkit-flex-grow: 4;
    -ms-flex-positive: 4;
    flex-grow: 4; }
    .feat-roll .feat-product .copy h1 {
      max-width: 60%;
      position: absolute;
      font-family: "heavitas", Sans, verdana;
      top: 35%;
      left: 25%; }
    .feat-roll .feat-product .copy img {
      width: 100%; }

/*# sourceMappingURL=main.css.map */