@import 'fonts-colors';
@import "effects";
@import "mixin";
   
::selection{
  background: $bosque;
  color: lighten($gris, 60%);
}
::moz-election{
  background: $bosque;
  color: lighten($gris, 60%);
}
::-webkit-scrollbar{
  background: $bosque;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: $sunshine;
  width: 10px;
  border-radius: 20px;
}

body{ background: blue !important;}
 
/*// main styles//*/
.gyb-head{
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4vh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  transition: 1s all ease;
  align-items: center;
  .brand-nav{
    position: relative;
    .fa-bars{
      margin: 12px 0;
      font-size: 1.5em;
      }
    }
    .logo{margin: 1px;}
    .nav-holder{
      position: absolute;
      display: none;
      background: $bosque;
      @include ease(all);
      ul{
        width: 100%;
        margin: 0px;
        list-style: none;
        li{
          a{color: white;}
          border-bottom: 1px solid #adadad;
          &:hover{
            a{color: $sunshine;}
          }
        }
      }
    }
  }
.socialhub{
    a{
      margin: 0 6px;
      .fa{
        font-size: 1.2em;
      }
    }
  }

.NavDrawer, CartDrawer{
  display: none;
}

.sticky{
    top: 0px !important;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.79); 
    transition: 1s all ease;
}

footer{
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  padding-bottom: 60px;
  .left-col{
    h1{
      color: lighten($gris, 20%);
      font-size: 2em;
      letter-spacing: 0px;
    }
    .nav-menu{
      ul{
        li{
          a{color: lighten($gris, 40%);}
        }
      }
    }
  }
  .right-col{
    .socialhub{
      text-align: right;
      .item{
        margin-bottom: 50px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        a{
          margin: 8px 12px;
          i{font-size: 25px; padding-top: 10px; }
          img{height: 100%;}
        }
      }
    }
    .certificados{
      position: relative;
      bottom: 0px;
      text-align: right;
      img{
        display: inline-block;
        margin: 0 12px;
      }
    }
  }
}

//inicio 
.home {
  .cover {
    width: 100vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    -webkit-background-size: cover;
    article {
      max-width: 800px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 25vh;
      color: white;
      h1 {
        font-size: 5em;
        font-family: $title;
      }
      p {
        margin: 12px auto;
        font-size: 1em;
      }
    }
  }
  .ribbon {
    padding: 12px 0;
    width: 100vw;
    color: white;
    text-align: center;
    background: $sunshine;
    text-transform: uppercase;
    h2 {
      font-size: 3em;
    }
    &:hover {
      cursor: hand;
      background: darken($sunshine, 6%);
      @include ease(all);
    }
  }
}

.feat-roll {
  .feat-product {
    width: 100%;
    max-height: 440px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    .p-item {
        @include p-item(4);
      }
      .copy {
        @include p-cover(4);
      }
    }
}


