/*============================================================================
Shopify just goy your bag
Copyright 2017 Shopify Inc.
Author jose avila @cshold
Built with Sass - http://sass-lang.com/

==============================================================================*/

/*////////Colors////////*/
$verde: rgb(92, 140, 69);
$bosque: #272727;
$naranja : #fda40f;
$gris: #464747;
$sunshine: #ecba6a;

/*//////////tipografia//////////*/

//fuentes
@font-face {
	font-family: 'heavitas';
	src: url('Heavitas.eot');
	src: url('Heavitas.eot?#iefix') format('embedded-opentype'),
				url('Heavitas.ttf') format('truetype'),
				url('Heavitas.svg#opficioregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aliens';
	src: url('aliensandcows.eot');
	src: url('aliensandcows.eot?#iefix') format('embedded-opentype'),
				url('aliensandcows.ttf') format('truetype'),
				url('aliensandcows.svg#opficioregular') format('svg');
	font-weight: normal;
	font-style: normal; 

}

$standard: 'Raleway', sans-serif;
$title: 'aliens', Sans, verdana;
$sec-title: 'heavitas', Sans, verdana;

h1, h2, h3, h4, h5, h6{
	font-family: $title;
	font-weight: normal;
}

p{
	font-family: $standard;
	font-weight: lighter;
	font-size: 16px;
}

a{
	font-family: $standard;
	font-size: 18px;
	color: $gris;
	&:hover{
		color: $sunshine;
		transition: all 0.8s ease;
	}
}

/*//////////////efectos//////////////*/
@mixin ease($prop){
	transition: $prop 0.8s ease;
}

/*///elementos////////////////////////*/

@mixin mask{
  -webkit-mask-image: -webkit-gradient(linear, left 45%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

}

@mixin button{
	font-family: $sec-title;
	text-transform: uppercase;
	padding: 10px 12px;
	color: white;
	border: 0;
	border-color: none;
	&:hover{
		cursor: pointer;
		@include ease(all);
	}
}

.c-grid{
	margin-top: 20vh;
	position: relative;
	display: block;
}

input{
	border-bottom: 1px solid $gris;
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,textarea,blockquote, figure, article, picture{ margin:0px;padding:0;border:0;outline:none; text-decortion: none !important; list-style: none!important;}
body{overflow-x: hidden;}
::selection{
	background: $bosque;
	color: lighten($gris, 60%);
}
::moz-election{
	background: $bosque;
	color: lighten($gris, 60%);
}
::-webkit-scrollbar{
	background: $bosque;
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background: $sunshine;
	width: 10px;
	border-radius: 20px;
}

// Cart


/*///////home///////*/
.cover-1{
	background: url(//cdn.shopify.com/s/files/1/2116/5083/t/3/assets/cover_home.png?10522940712948467645) no-repeat; 
}

/*head*/
.gyb-head{
	width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 4vh;
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	transition: 1s all ease;
	align-items: center;
} 

.brand-nav{
	position: relative;
	.fa-bars{
		margin: 12px 0;
		font-size: 1.5em;
		}
}

.logo{
	margin: 1px;
	@include ease(all);
}

.socialhub{
	display: flex;
	align-items: center;
	margin: 18px 0px;
	a{
		margin: 0 10px;
		.fa{
			font-size: 1.2em;
		}
	}
	.logo img{
		max-width: 98px;
	}
	.site-header__cart-toggle{
		.icon{
			font-size: 1.3em;
		}
	}
}

.sticky{
	top: 0px !important;
	padding-top: 20px;
	background: rgba(255, 255, 255, 0.79); 
	transition: 1s all ease;
	.logo{
		vertical-align: middle;
		display: inline-block;
		width: 80px;
		margin: 8px 12px;
		@include ease(all);
	}
}

.nav-holder{
	position: absolute;
	display: none;
	background: $bosque;
	ul a{
		display: block;
		color: white;
		padding: 14px 20px;
		text-decoration: none;
		&:hover{
				transition: 1s all ease;
				color: $sunshine;

		}
	}
	@media screen and(max-width: 600px){
		ul{
			width: 100%;
			text-align: center;
		}
	}
}

.nav-holder ul{
	width: 100%;
	margin: 0px;
	list-style: none;
}

.nav-holder ul li{
	border-bottom: 1px solid #adadad;
}

#NavDrawer{display: none;}

#CartDrawer{
	padding-top: 130px;
}

/*////footer////*/
footer{
	margin: 0 auto;
	margin-top: 80px;
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 30px;
	padding-bottom: 60px;
	h1{font-family: $title;}
	@media screen and(max-width: 600px){
		flex-flow: column;
		align-items: center;
		section{
			margin: 20px auto;
		}
	}
}

/*///////////cover///////////*/ 

.cover{
	width: 100vw;
	height: 80vh;
	position: relative;
	overflow: hidden;
	background-attachment: fixed;
	-webkit-background-size: cover;
	@media screen and(max-width: 600px){
		background-position: center;
	}
}

.cover article{
	max-width: 800px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 25vh;
	h1 {
		font-size: 5em;
		line-height: 1em;
		font-family: $title;
	}
	p {
		margin: 12px auto;
		font-size: 1em;
	}
	@media screen and(max-width: 600px){
		h1{
			width: 80%;
			font-size: 3em;
		}
		p{
			width: 80%;
		}
	}
}

.ribbon {
	padding: 12px 0;
	width: 100vw;
	color: white;
	text-align: center;
	background: $sunshine;
	text-transform: uppercase;
	h2 {
		font-size: 3em;
	}
}

// contenedor

.feat-roll{
	margin: 0 auto;
	max-width: 2000px;
}

.p-holder{
	max-width: 1200px;
	margin: 0 auto;
}


.feat-holder{
	max-width: 1800px;
	margin: 0 auto;
}

///modulos
.left{
	float: left; 
	width: 50vw;
}

.right{
	float: right; 
	width: 50vw;
}

// contact
.contact-form{
	max-width: 600px;
}

.contact-form input, .contact-form textarea{
	background: #efefef;  
}

.widget-full{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.full{
	flex-flow: column;
	align-items: center !important;
}

.half{
		flex-flow: row;
		.insta-holder, .slide-holder{
				width: 100%;
				margin: 0 auto;
		}
}

//page
.cover-page{
	margin-top: 40vh;
	.page-title{
		font-size: 5em;
	}
}
.page-feat-cover{
	@include mask;

}



//mobile


// feat block
  @media screen and(max-width: 600px){ 
		.feat-product{
        flex-flow: column !important;
				max-height: unset !important;
		}
		.price{
			padding: 20px !important;
			text-align: center !important;

		}
		.feat-product .copy {
			min-height: 250px !important;
			text-align: center !important;


		}
		.feat-product button{
			display: block !important;
			margin: 0 auto !important;
		}
			.feat-product .copy h1{

				margin: 0 auto !important;
				width: 80% !important;
				max-width: 400px !important;
				position: relative !important;
				left: unset !important;
				top: unset !important;
			}
	}


// instafeed
	@media screen and(max-width: 600px){ 
		.holder, .banner, .video-block{
			max-height: unset !important;
			flex-flow: column !important;
		}
		.banner {
			.copy h1{
				position: relative !important;
				left: unset !important;
				top: unset !important;
			}
			.p-item{
				background-size: contain !important;
			}
		}
		.video-block{
			.block{
				width: 80% !important;
				margin: 20px auto !important;  
			}
		}
	}



	// page

	@media screen and(max-width: 600px){
		.page-title{
			width: 80%;
			margin-top: 30vh !important;
			font-size: 3em !important;
			line-height: 1em !important;
		}
		.page-feat-cover{
			height: 60vh !important; 
		}
		.cover-page{
			margin-top: 60vh !important;
			margin-left: unset !important;
		}
		.coverpage{
			padding: 20px;
			margin: 0 auto !important; 
			
		}
	}