<!-- /templates/index.liquid -->

<main class="home">
   <figure class="cover cover-1"> 
        <article style="color:{{settings.t_color}}; text-align: center;">
            <h1>{{ settings.home_title }}</h1>
            <p>{{ settings.caption }}</p> 
        </article>
    </figure>
    {{%if settings.txt_promo%}}
    <div class="ribbon">
            <h2>{{settings.txt_promo}}</h2>
    </div>
    {{%end if%}}
    
    <div class="feat-roll">
      {{ content_for_index }} 
    </div>
    
</main>
 