<!-- /templates/page-feat.liquid -->
<div class="grid cover-page">

  <div class="grid__item large--two-thirds push--large--one-sixth coverpage">
    {% comment %} <h1 class="page-title">{{ page.title }}</h1> {% endcomment %}
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>
  </div>

</div>
{% section 'cover'%} 
{% section 'video-block'%}  
{% section 'insta-module'%}   
 